<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.moneysaver.test"> 
 <insert id="insertIncome"  parameterType="com.moneysaver.bean.Income">
 insert into income(incometypeid,id,money,remark) values(#{incometypeid},#{id},#{money},#{remark})
 </insert>
 </mapper>